:root{
    --primary-color: #ffde59;
    --second-color: #ffbd59;
    --font-one : 'Londrina Solid', sans-serif;
    --font-thwo: 'Racing Sans One', sans-serif;
    --open-sand : 'Open Sans', sans-serif;

}