:root{
    --primary-color: #ffde59;
    --second-color: #ffbd59;
    --clean-color: #fdeca7;
    --font-one : 'Londrina Solid', sans-serif;
    --font-thwo: 'Racing Sans One', sans-serif;
    --open-sand : 'Open Sans', sans-serif;

}
*{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    background-image: url(../img/teste.png);
}
.container-one{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    align-items: center;
    padding: 0 0 10% 0;
}
.title-container{
    padding: 3rem;
    max-width: 37rem;
}
.title{
    font-size: 3rem;
    font-family: var(--font-thwo);
    margin-bottom: 2rem;
    text-transform: uppercase;

    animation: 2s outvh ;
}
.sub-title{
    font-size: 1.5rem;
    font-family: var(--font-one);
    font-weight: 300;
    text-transform: uppercase;
    animation: 4s outvh
}
.bici-image{
    max-width: 10rem;
    animation: 1.5s outvh-reverse;
}
.invite{
    font-size: 1.3rem;
    font-family: var(--open-sand);
    padding: 1rem;
    text-align: center;
}
.date{
    font-size: 2rem;
    margin: auto;
    background-color: var(--clean-color) ;
    font-family: 'Open Sans', sans-serif;
    max-width: 11rem;
    transform: translate(0, 20%);
    padding: 2rem 1rem;
    border-radius: 10px;
}
.background-form{
    min-width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    padding: 10% 2rem 2rem 2rem;
    height: 100vh;

}
.form{
    font-size: 1.4rem;
    min-width: 35rem;
    max-width: 50rem;
    background-color: #fdeca74d;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    
}
label{
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
}
.name, .tel, .e-mail{
    height: 3rem;
    font-size: 1.4rem;
    padding: 0.7rem 1.5rem;
    /* border-radius: 10px; */
    border: 1px solid gray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 2rem;
    background-color: transparent;
}
.name:focus, .tel:focus, .e-mail:focus{
    outline: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow:  0 10px 10px -10px black;
}
.name:focus::placeholder, .tel:focus::placeholder, .e-mail:focus::placeholder{
    transform: translate(-4%, -100%);
    font-size: 1rem;
    transition: 500ms ease;
}
.submit:focus{
    outline: none;
    border: 2px solid black;
}
.warning{
    text-align: center;
}
.warning p{
    font-size: 1.6rem;
    color: red;
    padding: 1rem;
    font-family: var(--open-sand);
}
.confirm-container{
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
    padding-left: 3.5rem;
    
    
}
.submit{
    min-width: 6rem;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem 2rem;
    display: flex;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.8rem;
    font-family: var(--font-thwo);
    animation: 1s linear infinite alternate focus;
}
@media (min-width: 768px){ 
    .title{
        font-size: 4.5rem;
    }
    .sub-title{
        font-size: 2rem
    }
    .bici-image{
        max-width: 12rem;
    }
    .invite{
        padding: 0 5rem;
        font-size: 1.8rem;
    }
    .date{
        max-width: 30rem;
        text-align: center;
        font-weight: bold;
    }
    .form{
        min-width: 50rem;
    }
    label{
        font-size: 1.8rem;
    }
    .tel, .name, .e-mail{
        height: 4rem;
        /* border-radius: 20px; */
        font-size: 1.8rem;

    }
    .submit{
        min-width: 12rem;
        display: flex;
        justify-content: center;
    }
}

@keyframes outvh {
    from{
        transform: translate(110vh);
    }
    to{
        transform: translate(0);
    }
    
}
@keyframes outvh-reverse {
    from{
        transform: translate(-110vh);
    }
    to{
        transform: translate(0);
    }
    
}
@keyframes focus {
    from {
        transform: translate(0, 4%);
    }
    to{
        transform: translate(0);
    }
}